 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Expertise</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p align="justify">Société à mission, OuiACT propose aux entreprises et aux collectivités des services et des outils de réflexion de haut niveau pour orienter l’action vers un monde bas-carbone.<br> Animée de très fortes convictions en faveur de la transition écologique, l’équipe de OuiACT est formée aux dernières méthodologies reconnues et innovantes pour piloter les stratégies climatiques et environnementales des entreprises et des collectivités.<br>Nos équipes sont polyvalentes et entrainées à engager des travaux sur des sujets variés, ce qui leur confère une vision systémique des organisations..</p>
                </div>
                <div class="col-lg-4">
                    <p align="justify">Pour garantir un avenir à la planète et à ses habitants, les émissions mondiales de gaz à effet de serre doivent être divisées par deux d’ici 2030 et ramenées à zéro net d’ici 2050.<br>Pour s’inscrire dans cette dynamique, nous guidons les entreprises à construire une stratégie bas-carbone à partir de constats scientifiques au niveau de l’entreprise.<br>Adopter une stratégie climat fondée sur la science est l’action la plus significative que votre entreprise puisse entreprendre, pour elle-même et pour la planète.</p>
                </div>
			</div>
			<div class="row">
				<div class="col-md-auto">
					<div class="counter-up">
						<div class="content">
						  <div class="box">
							<div class="icon"><i class="fa-solid fa-calculator"></i></div>
							<div class="counter">70530</div>
							<div class="text"><b>tCO2eq comptabilisé</b></div>
						  </div>
						  <div class="box">
							<div class="icon"><i class="fa-solid fa-medal"></i></div>
							<div class="counter">12</div>
							<div class="text"><b>missions réussis</b></div>
						  </div>
						  <div class="box">
							<div class="icon"><i class="fas fa-users"></i></div>
							<div class="counter">2.178</div>
							<div class="text"><b>kgCO2eq/jour : Notre facteur d'émission</b></div>
						  </div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
